--- kernel.default.config	2019-04-29 14:36:29.282212000 +1000
+++ kernel.debug.config	2019-04-29 17:17:13.545934002 +1000
@@ -20,7 +20,7 @@
 #
 CONFIG_INIT_ENV_ARG_LIMIT=32
 # CONFIG_COMPILE_TEST is not set
-CONFIG_LOCALVERSION="_opizero_default"
+CONFIG_LOCALVERSION="_opizero_debug"
 CONFIG_LOCALVERSION_AUTO=y
 CONFIG_BUILD_SALT=""
 CONFIG_HAVE_KERNEL_GZIP=y
@@ -954,7 +954,7 @@
 # CONFIG_MTD is not set
 CONFIG_DTC=y
 CONFIG_OF=y
-# CONFIG_OF_UNITTEST is not set
+CONFIG_OF_UNITTEST=y
 CONFIG_OF_FLATTREE=y
 CONFIG_OF_EARLY_FLATTREE=y
 CONFIG_OF_KOBJ=y
@@ -1636,7 +1636,7 @@
 CONFIG_GENERIC_PINMUX_FUNCTIONS=y
 CONFIG_PINCONF=y
 CONFIG_GENERIC_PINCONF=y
-# CONFIG_DEBUG_PINCTRL is not set
+CONFIG_DEBUG_PINCTRL=y
 # CONFIG_PINCTRL_AXP209 is not set
 # CONFIG_PINCTRL_AMD is not set
 # CONFIG_PINCTRL_MCP23S08 is not set
